/* Estilos para el encabezado */
.header {
  min-height: 75vh;
  background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../assets/img/library-img.jpg") center/cover no-repeat;
  flex-direction: column;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  }
  
  .logo img {
    width: 100px; /* Ajusta el tamaño según tu logo */
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    margin-left: 890px;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos para los botones */
  .boton-link, .lis {
    background-color: #0075fc; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Espacio interno del botón */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 10px; /* Espacio entre los botones */
  }
  
  .boton-link, .lis:hover {
    background-color: #d89610; /* Cambia el color de fondo al pasar el cursor */
  }
  
  /* Estilos para las secciones */
  main {
    padding: 0px;
  }
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    
    border-radius: 4px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  .imagen-principal-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }

.imagen-principal {
    width: 100%;
    max-height: 850px; 
    object-fit: cover; 
    filter: blur(1.5px); 
    opacity: 0.; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Estilos para el contenido */
.contenido {
  padding: 60px;
  background: linear-gradient(to bottom right, #6f08d6, #7c5c81);
}

.acerca-de {
    flex: 1;
    color: #fbfbfb;
    padding: 50px;
    background: linear-gradient(to bottom right, #6f08d6, #7c5c81);
    border-radius: 4px;
    font-size: 20px;
}

.acerca-de h2 {
  font-size: 36px; 
  color: #fbfbfb;
}

.acerca-de p {
  font-size: 20px;
  margin-top: 42px; 
  color: #fbfbfb;
}


.imagen-derecha {
    max-width: 100%;  
    height: auto;     
    display: block;   
  
}


/* Estilos para la sección "Soporte" */
.soporte {
  text-align: center;
    margin-top: -20px;
    padding: 10px;
    color: #fbfbfa;
    background: linear-gradient(to bottom right, #6f08d6, #7c5c81);
    border-radius: 4px;
}

.soporte p {
    margin-bottom: 20px;
    color: #fbfbfa;
}

.soporte a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.descripcion-superpuesta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin: auto;
}

.descripcion-superpuesta h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  
}

.descripcion-superpuesta p {
  font-size: 2rem;
  color: #fbfbfb;
  
}

.hh{
  padding-top: 70px;
}

.descripcion-superpuesta button:hover {
  background-color: #fbfbfa;
}

@media screen and (max-width: 768px) { 
  .descripcion-superpuesta p {
    font-size: 20px; 
    width: 100%; 
  }
  .descripcion-superpuesta h1{
    font-size: 3.4rem;
  }
  .qq{
    font-size: 20px;
    margin-top: 20px;
    width: 60%;
  }
}

