/* Estilos para la tarjeta de libros */
.libro-tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .libro-tarjeta h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .libro-tarjeta p {
    font-size: 16px;
    color: #333;
  }
  .l{
    color: #ccc;
  }
  
  .libro-tarjeta img {
    max-width: 200px;
    height: 300px;
    width: auto;
    height: auto;
    margin-top: 10px;
  }

  .card-img-top{
    display: flex;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
  }

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.2s ease-in-out;
  cursor: pointer; 
}

.card a {
  text-decoration: none;
  color: inherit;
}


.card-img-top {
  object-fit: cover; 
}

/* Agrega estos estilos a tu archivo CSS o SCSS */

.container {
  max-width: 1140px; /* Ajusta el ancho máximo según tus necesidades */
  margin-left: auto;
  margin-right: auto;
}

.l {
  font-size: 2rem; /* Ajusta el tamaño de fuente según tus necesidades */
}

/* Estilos para el input de búsqueda */
input {
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para las tarjetas de libros */
.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilos para la imagen dentro de la tarjeta */
.card-img-top {
  object-fit: cover;
}

/* Estilos para el título de la tarjeta */
.card-title {
  font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus necesidades */
  font-weight: bold;
}

/* Estilos para el texto de la tarjeta */
.card-text {
  font-size: 1rem; /* Ajusta el tamaño de fuente según tus necesidades */
}

/* Estilos para el contenedor principal */
.grid {
  display: grid;
}

/* Estilos para las columnas en pantallas medianas */
@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .col-span-3 {
    grid-column: span 3 / span 3;
  }
}




  