/* Estilos para la tarjeta de libros */
.libro-tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .libro-tarjeta h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .libro-tarjeta p {
    font-size: 16px;
    color: #333;
  }
  .l{
    color: #ccc;
  }
  
  .libro-tarjeta img {
    max-width: 200px;
    height: 300px;
    width: auto;
    height: auto;
    margin-top: 10px;
  }

  .card-img-top{
    display: flex;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
  }

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.2s ease-in-out;
  cursor: pointer; 
}

.card a {
  text-decoration: none;
  color: inherit;
}


.card-img-top {
  object-fit: cover; 
}



.container {
  max-width: 1140px; 
  margin-left: auto;
  margin-right: auto;
  background: rgb(236, 232, 232) ;
  
}

.container-search{
  max-width: 1140px; 
  margin-left: auto;
  margin-right: auto;
  background: url(../assets/l.jpg);
}

.l {
  font-size: 2rem; 
}


input {
  width: 100%;
  box-sizing: border-box;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}


.card-img-top {
  object-fit: cover;
}


.card-title {
  font-size: 1.5rem; 
  font-weight: bold;
}


.card-text {
  font-size: 1rem; 
}


.grid {
  display: grid;
}


@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .col-span-3 {
    grid-column: span 3 / span 3;
  }
}


.cc{
  margin-top: 40px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ll{
border-radius: 30px;
width: 50%;
}

.header-content{
  min-height: 75vh;
  background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../assets/library-img.jpg") center/cover no-repeat;
  flex-direction: column;
}
.header-title{
  font-size: 4.2rem;
  margin-bottom: 70px;
}
.header-text{
  margin-top: -1.8rem;
  margin-bottom: 2.8rem;
  opacity: 0.8;
  max-width: 770px;
}